<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
<footer class="footer p-sm-2 p-5 bg-dark text-white text-center position-relative">
    <div class="container d-flex justify-content-between align-items-center">
        <p class="lead m-0">Copyright &copy; <span id="current-year"></span> Volunteering Platform</p>
        <a href="https://github.com/QwertyFusion/Volunteering-Platform" class="btn btn-dark d-flex align-items-center text-white text-decoration-none">
            <i class="bi bi-github h3 me-2"></i>
            <span class="lead m-0">GitHub Repository</span>
        </a>
    </div>
    <a href="#" class="position-absolute bottom-0 end-0 p-3">
        <i class="bi bi-arrow-up-circle h1 text-primary"></i>
    </a>
</footer>
</body>
</html>